<div>
	<a href="/shop/add">Add New Shops</a>
</div>

<h2>Best deals</h2>

<table>
    <tr>
        <th>Shop name</th>
        <th>Qty</th>
        <th>Price</th>
    </tr>

    {{each shops}}
    
</table>

